/* ------------ ALGEMENE INSTELLINGEN -------------- */

html,
body,
div,
ul
{
	margin: 0;
	padding: 0;
}

html
{
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 400;
}

body
{
 background-color: #DDD;
}

.material-icons
{
	color: #999;
}

h2
{
	font-size: 1.2em;
	margin: 0;
}

h2 a
{
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content:;
    border-bottom: 1px solid #aaa;
    padding-bottom: 8px;
    margin-bottom: 10px;
    /* position: relative; */
}

h2 i
{
	display: flex !important;
	justify-content: flex-end;
	align-self: flex-end;
	/* float: right; */
}

p
{
	text-align: justify;
}

a
{
	color: #951914;
	/* vertical-align: top; */
	font-size: .8em;
}

a.inline-text
{
	vertical-align: top;
}

/* ------------ NAVIGATIE MENU BOVENIN -------------- */

#logo
{
	width: 15%;
	min-width: 200px;
	max-width: 350px;
	margin: 0 40px 0 20px;
}

#main-header
{
	background-color: white;
	font-size: 1.2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 160px;
}

#main-header p
{
	display: inline-block;
}

#gegevens
{
	display: flex;
	flex-grow: 100;
	flex-direction: row;
	justify-content: space-around;
}

#gegevens li
{
	list-style: none;
	line-height: 1.5em;
}

#main-nav
{
	background-color: #951914;
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
}

#main-nav li
{
	display: inline-flex;
	margin-right: 20px;
	flex-direction: row;
	text-align: center;
	border-bottom: 1px solid transparent;
}

#main-nav li:hover,
#main-nav .active
{
	border-color: #FFF;
}

#main-nav .active
{
	border-width: 2px;
}

#main-nav a
{
	color: #FFF;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#main-nav .sub-title
{
	font-size: .8em;
	font-weight: 300;
}

/* ------------ CONTENT HOMEPAGE -------------- */

#main-image
{
	:
	left: 20%
	left: 2;
	position: absolute;
	left: 20%;
}

#home
{
	background-color: #000;
}

#home .tekst-content
{
	color: #FFF;
	position: absolute;
	/* width: 100%; */
	margin-top: 0;
	left: 0;
}

#home p
{
	text-align: left;
}

/* ------------ CONTENT ANDERE PAGINAS -------- */
#content
{
	display: flex;
	flex-direction: row;
	/* background-color: #000; */
}

.tekst-content
{
	display: flex;
	flex-direction: column;
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

.img-container
{
	display: flex;
	width: 50%;
	position: relative;
	background-color: #000;
	align-items: flex-end;
}

.content-image {
    :
    : absolute
    display: flex;
    display: flex;
    width: 100%;
}